  <section class="covers-section">
    <h2 class="visually-hidden">Covers</h2>
    <div class="covers-wrap">
      <!-- Row 1 -->
      <div class="marquee-wrapper left">
        <ul class="covers-list">
          <li>
            <img
              src="/img/covers/project1_x1.jpg"
              srcset="
                /img/covers/project1_x1.jpg 1x,
                /img/covers/project1_x2.jpg 2x
              "
              alt="Cover 1"
            />
          </li>
          <li>
            <img
              src="/img/covers/project2_x1.jpg"
              srcset="
                /img/covers/project2_x1.jpg 1x,
                /img/covers/project2_x2.jpg 2x
              "
              alt="Cover 2"
            />
          </li>
          <li>
            <img
              src="/img/covers/project3_x1.jpg"
              srcset="
                /img/covers/project3_x1.jpg 1x,
                /img/covers/project3_x2.jpg 2x
              "
              alt="Cover 3"
            />
          </li>
          <li>
            <img
              src="/img/covers/project4_x1.jpg"
              srcset="
                /img/covers/project4_x1.jpg 1x,
                /img/covers/project4_x2.jpg 2x
              "
              alt="Cover 4"
            />
          </li>
          <li>
            <img
              src="/img/covers/project5_x1.jpg"
              srcset="
                /img/covers/project5_x1.jpg 1x,
                /img/covers/project5_x2.jpg 2x
              "
              alt="Cover 5"
            />
          </li>
          <li>
            <img
              src="/img/covers/project1_x1.jpg"
              srcset="
                /img/covers/project1_x1.jpg 1x,
                /img/covers/project1_x2.jpg 2x
              "
              alt="Cover 1 duplicate"
            />
          </li>
          <li>
            <img
              src="/img/covers/project2_x1.jpg"
              srcset="
                /img/covers/project2_x1.jpg 1x,
                /img/covers/project2_x2.jpg 2x
              "
              alt="Cover 2 duplicate"
            />
          </li>
          <li>
            <img
              src="/img/covers/project4_x1.jpg"
              srcset="
                /img/covers/project4_x1.jpg 1x,
                /img/covers/project4_x2.jpg 2x
              "
              alt="Cover 4 duplicate"
            />
          </li>
        </ul>
      </div>

      <!-- Row 2 -->
      <div class="marquee-wrapper right">
        <ul class="covers-list">
          <li>
            <img
              src="/img/covers/project6_x1.jpg"
              srcset="
                /img/covers/project6_x1.jpg 1x,
                /img/covers/project6_x2.jpg 2x
              "
              alt="Cover 6"
            />
          </li>
          <li>
            <img
              src="/img/covers/project7_x1.jpg"
              srcset="
                /img/covers/project7_x1.jpg 1x,
                /img/covers/project7_x2.jpg 2x
              "
              alt="Cover 7"
            />
          </li>
          <li>
            <img
              src="/img/covers/project8_x1.jpg"
              srcset="
                /img/covers/project8_x1.jpg 1x,
                /img/covers/project8_x2.jpg 2x
              "
              alt="Cover 8"
            />
          </li>
          <li>
            <img
              src="/img/covers/project9_x1.jpg"
              srcset="
                /img/covers/project9_x1.jpg 1x,
                /img/covers/project9_x2.jpg 2x
              "
              alt="Cover 9"
            />
          </li>
          <li>
            <img
              src="/img/covers/project10_x1.jpg"
              srcset="
                /img/covers/project10_x1.jpg 1x,
                /img/covers/project10_x2.jpg 2x
              "
              alt="Cover 10"
            />
          </li>
          <li>
            <img
              src="/img/covers/project6_x1.jpg"
              srcset="
                /img/covers/project6_x1.jpg 1x,
                /img/covers/project6_x2.jpg 2x
              "
              alt="Cover 6 duplicate"
            />
          </li>
          <li>
            <img
              src="/img/covers/project7_x1.jpg"
              srcset="
                /img/covers/project7_x1.jpg 1x,
                /img/covers/project7_x2.jpg 2x
              "
              alt="Cover 7 duplicate"
            />
          </li>
          <li>
            <img
              src="/img/covers/project2_x1.jpg"
              srcset="
                /img/covers/project2_x1.jpg 1x,
                /img/covers/project2_x2.jpg 2x
              "
              alt="Cover 2 duplicate"
            />
          </li>
        </ul>
      </div>

      <!-- Row 3 -->
      <div class="marquee-wrapper left">
        <ul class="covers-list">
          <li>
            <img
              src="/img/covers/project5_x1.jpg"
              srcset="
                /img/covers/project5_x1.jpg 1x,
                /img/covers/project5_x2.jpg 2x
              "
              alt="Cover 5"
            />
          </li>
          <li>
            <img
              src="/img/covers/project4_x1.jpg"
              srcset="
                /img/covers/project4_x1.jpg 1x,
                /img/covers/project4_x2.jpg 2x
              "
              alt="Cover 4"
            />
          </li>
          <li>
            <img
              src="/img/covers/project3_x1.jpg"
              srcset="
                /img/covers/project3_x1.jpg 1x,
                /img/covers/project3_x2.jpg 2x
              "
              alt="Cover 3"
            />
          </li>
          <li>
            <img
              src="/img/covers/project2_x1.jpg"
              srcset="
                /img/covers/project2_x1.jpg 1x,
                /img/covers/project2_x2.jpg 2x
              "
              alt="Cover 2"
            />
          </li>
          <li>
            <img
              src="/img/covers/project1_x1.jpg"
              srcset="
                /img/covers/project1_x1.jpg 1x,
                /img/covers/project1_x2.jpg 2x
              "
              alt="Cover 1"
            />
          </li>
          <li>
            <img
              src="/img/covers/project5_x1.jpg"
              srcset="
                /img/covers/project5_x1.jpg 1x,
                /img/covers/project5_x2.jpg 2x
              "
              alt="Cover 5 duplicate"
            />
          </li>
          <li>
            <img
              src="/img/covers/project4_x1.jpg"
              srcset="
                /img/covers/project4_x1.jpg 1x,
                /img/covers/project4_x2.jpg 2x
              "
              alt="Cover 4 duplicate"
            />
          </li>
          <li>
            <img
              src="/img/covers/project7_x1.jpg"
              srcset="
                /img/covers/project7_x1.jpg 1x,
                /img/covers/project7_x2.jpg 2x
              "
              alt="Cover 7 duplicate"
            />
          </li>
        </ul>
      </div>

      <!-- Row 4 -->
      <div class="marquee-wrapper right">
        <ul class="covers-list">
          <li>
            <img
              src="/img/covers/project10_x1.jpg"
              srcset="
                /img/covers/project10_x1.jpg 1x,
                /img/covers/project10_x2.jpg 2x
              "
              alt="Cover 10"
            />
          </li>
          <li>
            <img
              src="/img/covers/project9_x1.jpg"
              srcset="
                /img/covers/project9_x1.jpg 1x,
                /img/covers/project9_x2.jpg 2x
              "
              alt="Cover 9"
            />
          </li>
          <li>
            <img
              src="/img/covers/project8_x1.jpg"
              srcset="
                /img/covers/project8_x1.jpg 1x,
                /img/covers/project8_x2.jpg 2x
              "
              alt="Cover 8"
            />
          </li>
          <li>
            <img
              src="/img/covers/project7_x1.jpg"
              srcset="
                /img/covers/project7_x1.jpg 1x,
                /img/covers/project7_x2.jpg 2x
              "
              alt="Cover 7"
            />
          </li>
          <li>
            <img
              src="/img/covers/project6_x1.jpg"
              srcset="
                /img/covers/project6_x1.jpg 1x,
                /img/covers/project6_x2.jpg 2x
              "
              alt="Cover 6"
            />
          </li>
          <li>
            <img
              src="/img/covers/project10_x1.jpg"
              srcset="
                /img/covers/project10_x1.jpg 1x,
                /img/covers/project10_x2.jpg 2x
              "
              alt="Cover 10 duplicate"
            />
          </li>
          <li>
            <img
              src="/img/covers/project9_x1.jpg"
              srcset="
                /img/covers/project9_x1.jpg 1x,
                /img/covers/project9_x2.jpg 2x
              "
              alt="Cover 9 duplicate"
            />
          </li>
          <li>
            <img
              src="/img/covers/project2_x1.jpg"
              srcset="
                /img/covers/project2_x1.jpg 1x,
                /img/covers/project2_x2.jpg 2x
              "
              alt="Cover 2 duplicate"
            />
          </li>
        </ul>
      </div>

      <!-- Row 5 -->
      <div class="marquee-wrapper left">
        <ul class="covers-list">
          <li>
            <img
              src="/img/covers/project1_x1.jpg"
              srcset="
                /img/covers/project1_x1.jpg 1x,
                /img/covers/project1_x2.jpg 2x
              "
              alt="Cover 1"
            />
          </li>
          <li>
            <img
              src="/img/covers/project3_x1.jpg"
              srcset="
                /img/covers/project3_x1.jpg 1x,
                /img/covers/project3_x2.jpg 2x
              "
              alt="Cover 3"
            />
          </li>
          <li>
            <img
              src="/img/covers/project5_x1.jpg"
              srcset="
                /img/covers/project5_x1.jpg 1x,
                /img/covers/project5_x2.jpg 2x
              "
              alt="Cover 5"
            />
          </li>
          <li>
            <img
              src="/img/covers/project7_x1.jpg"
              srcset="
                /img/covers/project7_x1.jpg 1x,
                /img/covers/project7_x2.jpg 2x
              "
              alt="Cover 7"
            />
          </li>
          <li>
            <img
              src="/img/covers/project9_x1.jpg"
              srcset="
                /img/covers/project9_x1.jpg 1x,
                /img/covers/project9_x2.jpg 2x
              "
              alt="Cover 9"
            />
          </li>
          <li>
            <img
              src="/img/covers/project1_x1.jpg"
              srcset="
                /img/covers/project1_x1.jpg 1x,
                /img/covers/project1_x2.jpg 2x
              "
              alt="Cover 1 duplicate"
            />
          </li>
          <li>
            <img
              src="/img/covers/project3_x1.jpg"
              srcset="
                /img/covers/project3_x1.jpg 1x,
                /img/covers/project3_x2.jpg 2x
              "
              alt="Cover 3 duplicate"
            />
          </li>
        </ul>
      </div>
    </div>
  </section>