<section class="faq-section" id="faq">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="accordion faq-list">
      <li class="faq-item faq-ac">
        <div class="faq-ac-header faq-box">
          <h3 class="faq-subtitle">
            What programming languages are most often used in your project?
          </h3>
          <button type="button" class="faq-btn faq-ac-trigger">
            <svg class="faq-icon" width="20" height="20">
              <use href="/img/icons-1.svg#icon-arrow-up-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-ac-panel">
          <p class="faq-item-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-item faq-ac">
        <div class="faq-ac-header faq-box">
          <h3 class="faq-subtitle">What are the deadlines for the project?</h3>
          <button type="button" class="faq-btn faq-ac-trigger">
            <svg class="faq-icon" width="20" height="20">
              <use href="/img/icons-1.svg#icon-arrow-up-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-ac-panel">
          <p class="faq-item-text">
            The terms of project implementation depend on various factors such
            as scope, complexity, and resource availability. Determining exact
            deadlines is a difficult task, and it usually occurs during the
            planning phase.
          </p>
        </div>
      </li>
      <li class="faq-item faq-ac">
        <div class="faq-ac-header faq-box">
          <h3 class="faq-subtitle">What payment methods do you accept?</h3>
          <button type="button" class="faq-btn faq-ac-trigger">
            <svg class="faq-icon" width="20" height="20">
              <use href="/img/icons-1.svg#icon-arrow-up-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-ac-panel">
          <p class="faq-item-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="faq-item faq-ac">
        <div class="faq-ac-header faq-box">
          <h3 class="faq-subtitle">How can I contact you?</h3>
          <button type="button" class="faq-btn faq-ac-trigger">
            <svg class="faq-icon" width="20" height="20">
              <use href="/img/icons-1.svg#icon-arrow-up-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-ac-panel">
          <p class="faq-item-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-item faq-ac">
        <div class="faq-ac-header faq-box">
          <h3 class="faq-subtitle">Do you provide advice or support?</h3>
          <button type="button" class="faq-btn faq-ac-trigger">
            <svg class="faq-icon" width="20" height="20">
              <use href="/img/icons-1.svg#icon-arrow-up-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-ac-panel">
          <p class="faq-item-text">
            Yes, we offer consultation and support based on project
            requirements.
          </p>
        </div>
      </li>
      <li class="faq-item faq-ac">
        <div class="faq-ac-header faq-box">
          <h3 class="faq-subtitle">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <button type="button" class="faq-btn faq-ac-trigger">
            <svg class="faq-icon" width="20" height="20">
              <use href="/img/icons-1.svg#icon-arrow-up-down"></use>
            </svg>
          </button>
        </div>
        <div class="faq-ac-panel">
          <p class="faq-item-text">
            The process typically includes ideation, requirements gathering,
            design, development, testing, and deployment.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
