<section class="section-hero">
  <div class="container box-hero">
    <h1 class="section-hero-title">
      <span class="text-block">Hello.</span>
      <span class="text-block">I’m Fullstack developer</span>
      <span class="text-block">Lloyd Jefferson.</span>
    </h1>
    <ul class="social-list wrapper">
      <li class="social-list-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="social-link"
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          IG
        </a>
      </li>
      <li class="social-list-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="social-link"
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          FB
        </a>
      </li>
      <li class="social-list-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="social-link"
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          YT
        </a>
      </li>
      <li class="social-list-item">
        <a
          href="https://dmytrovalman.github.io/serious-team-JS-project/"
          class="social-link"
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          GH
        </a>
      </li>
      <li class="social-list-item">
        <a href="mailto:lloydjefferson@gmail.com" class="social-link mail">
          lloydjefferson@gmail.com
        </a>
      </li>
    </ul>
  </div>
</section>
