
<section id="projects" class="projects section">
    <div class="container">
        <h2 class="project-caption">Projects</h2>
        <div id="projects-swiper-container-id" class="swiper projects-wrap">
        <ul class="swiper-wrapper">
          <li class="swiper-slide project-wrapper">
            <div class="project-desc-box project-box">
                <div class="project-tags">
                    <span class="project-elements">#react</span>
                    <span class="project-elements">#js</span>
                    <span class="project-elements">#node js</span>
                    <span class="project-elements">#git</span>
                </div>
                <p class="project-tagline">Programming Across Borders: Ideas, Technologies, Innovations</p>
                <a href="https://github.com/DmytroValMan/serious-team-JS-project"
                   rel="noopener noreferrer"
                   target="_blank" class="projects-link">
                   See project
                </a>
            </div>
            <div class="project-image-box project-box">
                <picture>
                    <!-- Desktop -->
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                        /img/projects/projects1-desktop.jpg 1x,
                        /img/projects/projects1-desktop@2x.jpg 2x
                      "
                    />
                    <!-- Tablet -->
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        /img/projects/projects1-tablet.jpg 1x,
                        /img/projects/projects1-tablet@2x.jpg 2x
                      "
                    />
                    <!-- Mobile -->
                    <source
                      media="(max-width: 767px)"
                      srcset="
                        /img/projects/projects1-mobile.jpg 1x,
                        /img/projects/projects1-mobile@2x.jpg 2x
                      "
                    />
                    <img
                      class="projects-img"
                      src="/img/projects/projects1-mobile.jpg"
                      alt="image"
                      width="614"
                      height="385"
                    />
                  </picture>
            </div>
          </li>

          <li class="swiper-slide project-wrapper">
            <div class="project-desc-box project-box">
                <div class="project-tags">
                    <span class="project-elements">#react</span>
                    <span class="project-elements">#js</span>
                    <span class="project-elements">#node js</span>
                    <span class="project-elements">#git</span>
                </div>
                <p class="project-tagline">Programming Across Borders: Ideas, Technologies, Innovations</p>
                <a href="https://github.com/DmytroValMan/serious-team-JS-project"
                   rel="noopener noreferrer"
                   target="_blank" class="projects-link">
                   See project
                </a>
            </div>
            <div class="project-image-box project-box">
                <picture>
                    <!-- Desktop -->
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                        /img/projects/projects2-desktop.jpg 1x,
                        /img/projects/projects2-desktop@2x.jpg 2x
                      "
                    />
                    <!-- Tablet -->
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        /img/projects/projects2-tablet.jpg 1x,
                        /img/projects/projects2-tablet@2x.jpg 2x
                      "
                    />
                    <!-- Mobile -->
                    <source
                      media="(max-width: 767px)"
                      srcset="
                        /img/projects/projects2-mobile.jpg 1x,
                        /img/projects/projects2-mobile@2x.jpg 2x
                      "
                    />
                    <img
                      class="projects-img"
                      src="/img/projects/projects2-mobile.jpg"
                      alt="image"
                    />
                  </picture>
            </div>
          </li>

          <li class="swiper-slide project-wrapper">
            <div class="project-desc-box project-box">
                <div class="project-tags">
                    <span class="project-elements">#react</span>
                    <span class="project-elements">#js</span>
                    <span class="project-elements">#node js</span>
                    <span class="project-elements">#git</span>
                </div>
                <p class="project-tagline">Programming Across Borders: Ideas, Technologies, Innovations</p>
                <a href="https://github.com/DmytroValMan/serious-team-JS-project"
                   rel="noopener noreferrer"
                   target="_blank" class="projects-link">
                   See project
                </a>
                </div>
            <div class="project-image-box project-box">
                <picture>
                    <!-- Desktop -->
                    <source
                      media="(min-width: 1440px)"
                      srcset="
                        /img/projects/projects3-desktop.jpg 1x,
                        /img/projects/projects3-desktop@2x.jpg 2x
                      "
                    />
                    <!-- Tablet -->
                    <source
                      media="(min-width: 768px)"
                      srcset="
                        /img/projects/projects3-tablet.jpg 1x,
                        /img/projects/projects3-tablet@2x.jpg 2x
                      "
                    />
                    <!-- Mobile -->
                    <source
                      media="(max-width: 767px)"
                      srcset="
                        /img/projects/projects3-mobile.jpg 1x,
                        /img/projects/projects3-mobile@2x.jpg 2x
                      "
                    />
                    <img
                      class="projects-img"
                      src="/img/projects/projects3-mobile.jpg"
                      alt="image"
                    />
                  </picture>
            </div>
          </li>

        </ul>
        </div>
        <div class="projects-navigation">
          <button type="button" class="project-svg-button projects-btn-prev">
            <svg id="projects-swiper-prev-id" class="projects-icon swiper-button-prev" width="32" height="32">
                <use href="./img/icons-1.svg#icon-arrow-narrow-left"></use>
              </svg>
          </button>
          <button type="button" class="project-svg-button projects-btn-next">
            <svg id="projects-swiper-next-id" class="projects-icon swiper-button-next" width="32" height="32">
                <use href="./img/icons-1.svg#icon-arrow-narrow-right"></use>
              </svg>
          </button>
        </div>
    </div>

</section>
