<section class="reviews-section" id="reviews">
  <div class="reviews-bg">
    <div class="reviews-container container">
      <h2 class="reviews-title">REVIEWS</h2>

      <div class="swiper reviews-swiper">
        <div class="swiper-wrapper reviews-list"></div>
      </div>

      <div class="slider-buttons buttons-reviews">
        <button class="slider-btn button-prev" type="button">
          <svg class="prev-icon" width="68" height="68">
            <use href="/img/icons-1.svg#icon-arrow-narrow-left"></use>
          </svg>
        </button>
        <button class="slider-btn button-next" type="button">
          <svg class="next-icon" width="68" height="68">
            <use href="/img/icons-1.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
