<section class="work-together-section" id="work-together">
  <div class="container work-together-container">
    <div class="introduction-container">
      <img
        class="work-together-img"
        src="/img/header/header-desc.jpg"
        alt="person logo"
        srcset="
          /img/header/header-desc.jpg    1x,
          /img/header/header-desc@2x.jpg 2x
        "
      />
      <h2 class="work-together-title">
        Let’s <span class="work-together-title-red-part">work</span>
        <span class="word-together work-together-title">together</span>
      </h2>
    </div>
    <form class="work-together-form">
      <div class="work-together-input-container">
        <input
          class="work-together-input"
          type="email"
          placeholder="clients@gmail.com"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          required
        />
        <p class="invalid-text">Invalid email, try again</p>
        <p class="valid-text">Succes!</p>
      </div>
      <input
        class="work-together-comments"
        type="text"
        placeholder="comments"
        required
      />
      <button class="work-together-button" type="submit">Send</button>
    </form>
    <ul class="work-together-list">
      <li class="work-together-item-email">
        <a class="work-together-link" href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
      <li class="work-together-item-phone">
        <a class="work-together-link" href="tel:+3801111111111"
          >+380 11 1111 11 11</a
        >
      </li>
    </ul>
    <div class="work-together-backdrop">
      <div class="work-together-modal">
        <button class="work-together-close-button">
          <svg class="work-together-close-svg" width="24" height="24">
            <use href="/img/icons-1.svg#icon-close-btn"></use>
          </svg>
        </button>
        <div class="work-together-modal-introduction">
          <h3 class="work-together-modal-title"></h3>
          <p class="work-together-modal-subtitle"></p>
        </div>
      </div>
    </div>
  </div>
</section>