.about {
  padding-top: 64px;
}

@media only screen and (min-width: 1440px) {
  .about {
    padding-top: 96px;
  }
}

.about-top-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .about-top-wrapper {
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-top-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 96px;
  }
}

.about-text {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  padding: 32px 32px 272px;
  background: #242527;
}

@media only screen and (min-width: 768px) {
  .about-text {
    font-size: 38px;
    line-height: 1.05;
    padding: 64px 64px;
  }
}

.about-text-first-span {
  color: #ed3b44;
}

.about-text-second-span {
  color: rgba(250, 250, 250, 0.4);
}

.about-me-list {
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .about-me-list {
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me-list {
    margin-bottom: 96px;
  }
}

.ac.about-me-item {
  background-color: inherit;
  border: none;
  border-bottom: solid 1px rgba(250, 250, 250, 0.2);
  padding-bottom: 32px;

  margin: 0;
}

.ac.about-me-item:not(:first-child) {
  padding-top: 20px;
}

@media only screen and (min-width: 768px) {
  .ac.about-me-item:not(:first-child) {
    padding-top: 32px;
  }
}

.about-me-list .ac .ac-trigger::after {
  display: none;
}

.ac.about-me-item.is-active .arrow {
  transform: rotate(180deg);
}

.ac.about-me-item.is-active {
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .ac.about-me-item.is-active {
    padding-bottom: 32px;
  }
}

.ac .ac-header.about-me-header {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.about-me-item .ac-trigger.about-me-btn {
  width: 36px;
  height: 36px;
  padding: 0px;
}

@media only screen and (min-width: 768px) {
  .about-me-item .ac-trigger.about-me-btn {
    width: 40px;
    height: 40px;
  }
}

.about-me-item .ac-trigger.about-me-btn .arrow {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  padding: 9px;
  width: 36px;
  height: 36px;
}

@media only screen and (min-width: 768px) {
  .about-me-item .ac-trigger.about-me-btn .arrow {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me-item-wrapper {
    margin-left: 696px;
  }

  .about-me-item:nth-child(1) .about-me-item-wrapper {
    width: 612px;
  }

  .about-me-item:nth-child(2) .about-me-item-wrapper {
    width: 284px;
  }

  .about-me-item:nth-child(3) .about-me-item-wrapper {
    width: 465px;
  }

  .about-me-item:nth-child(3) .about-me-item-text:nth-child(1) {
    width: 369px;
  }
}

.about-me-list .ac .ac-panel .ac-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding: 0px;
}

.ac .ac-panel .ac-text.about-me-item-text:not(:last-child) {
  margin-bottom: 10px;
}

.ac .ac-panel .ac-text.about-me-item-text:first-child {
  margin-top: 8px;
}

.about-me-header {
  display: flex;
  justify-content: space-between;
}

.about-section .ac .ac-panel .ac-text {
  padding: 0;
}

.ac .ac-panel .ac-text.one {
  margin-top: 12px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .ac .ac-panel .ac-text.one {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .ac .ac-panel .ac-text.one {
    margin-bottom: 32px;
  }
}

.ac.role .ac-panel .ac-text:not(:last-child),
.ac.education .ac-panel .ac-text:not(:last-child) {
  margin-bottom: 10px;
}

.wrapper-item {
  border-radius: 24px;
  overflow: hidden;
}

@media only screen and (min-width: 1440px) {
  .wrapper-item {
    width: calc((100% - 8px) / 2);
  }
}

/*.About me  ---- skills */
.about-me-skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1440px) {
  .about-me-skills {
    padding: 0 32px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .about-me-skills .about-me-skills-swiper {
    margin-left: 0px;
    min-width: 260px;
    width: 260px;
  }
}

.about-me-skill-item {
  border-radius: 50%;
  text-align: center;
  padding-top: 53px;
  padding-bottom: 53px;
  border: 1px solid #fafafa33;
}

@media only screen and (min-width: 768px) {
  .about-me-skill-item {
    padding-top: 88px;
    padding-bottom: 88px;
    font-size: 20px;
    line-height: 100%;
  }
}

.about-me-skill-item.active-slide {
  background: #ed3b44;
}

.about-me-skills-button-next {
  margin-left: 55px;
  border-radius: 60px;
  background-color: transparent;
  border: 0px solid #fafafa80;
  fill: transparent;
  padding-right: 0px;
  padding-left: 0px;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .about-me-skills-button-next {
    margin-left: auto;
  }
}

@media only screen and (min-width: 768px) {
  .about-me-skills-button-next {
    margin-left: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me-skills-button-next {
    margin-left: 72px;
  }
}

.about-me-icon {
  height: 28px;
  width: 28px;
  display: inline-block;
  stroke: currentColor;
  background-color: transparent;
  color: #3b3b3b;
}

@media only screen and (min-width: 768px) {
  .about-me-icon {
    height: 40px;
    width: 40px;
  }
}
