html {
  scroll-behavior: smooth;
}

.header {
  top: 32px;
  width: 100%;
  z-index: 11;
  position: absolute;
}

.hidden {
  display: none;
}

.head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.head-logo {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.logo-img {
  border-radius: 18px;
  width: 80px;
  height: 80px;
}

.head-nav {
  display: none;
}

.order-button {
  display: none;
}

.burger-button,
.close-button {
  background-color: transparent;
  min-width: 28px;
  min-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
}

.close-button {
  position: absolute;
  top: 32px;
  right: 16px;
}

.close-icon,
.burger-icon {
  stroke: #fafafa;
}

.logo-name {
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.modal-body-lock {
  overflow: hidden;
}

.nav-link {
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: color 300ms ease-in-out;
  text-decoration: underline;
  text-underline-offset: 3px;
  border: none;
}

.menu-button:hover,
.nav-link:hover {
  color: #ed3b44;
}

@media screen and (min-width: 768px) {
  .head-nav {
    display: flex;
    position: relative;
  }

  .menu-button {
    display: flex;
    min-width: 67px;
    min-height: 39px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 10px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #fafafa;
    transition: color 300ms ease-in-out;
  }

  .nav-list {
    display: none;
  }

  .menu-visible {
    display: flex;
    position: absolute;
    top: 47px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    animation: fadeIn 1s;
  }

  .order-button {
    padding: 18px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    min-width: 163px;
    min-height: 55px;
    background-color: #ed3b44;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    transition: background-color 300ms ease-in-out;
    border: none;
  }

  .order-button:hover {
    background-color: #e0373f;
  }

  .burger-button {
    display: none;
  }
}

.modal-overlay {
  background-image: url(../img/menu/menu.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #0e1823;

  opacity: 0;
  pointer-events: none;
  z-index: 1;

  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-100%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  transition: opacity 300ms ease-in-out;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 64px;
  justify-content: space-between;
}

.nav-list-mob {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.nav-mob .nav-link {
  color: #fafafa;
  cursor: pointer;
  align-items: center;
  transition: color 250ms ease;
  letter-spacing: -0.02em;
}

.nav-mob .nav-link:hover {
  color: #ed3b44;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.order-button-mob {
  padding: 14px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  min-width: 163px;
  min-height: 55px;
  background-color: #ed3b44;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: background-color 300ms ease-in-out;
  border: none;
}

.order-button-mob:hover {
  background-color: #e0373f;
}